Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

<IfModule mod_env.c>
    SetEnv DB_HOST localhost
    SetEnv DB_USER root
    SetEnv DB_PASS 
    SetEnv DB_DB osdc
</IfModule>
